{{#article}}
    <h1>{{this.name}}</h1>
    <p>Published {{this.published}}</p>
    <p><img src="/images/{{this.image}}" alt=""></p>
    {{{this.body}}}
    <hr>
    <br>
    <form action="/admin/article/delete/{{this.id}}" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
    </form>
    <a style="display: inline; text-decoration: none;" class="btn-primary" href="/admin/article/edit/{{this.id}}">Edit</a>
{{/article}}